body,
html {
  margin: 0;
  font-family: Helvetica, sans-serif;
}
.background {
 
}

.background-images img{
  display: block;
  margin: 0 auto;
  width: 500px;
}

.photo1{
  animation: myAnim 1s ease-in-out 0s 1 normal forwards;


}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}